version: '3.9'
services:
  command_app:
    build:
      context: .
      dockerfile: ./command/docker/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=docker
    depends_on:
      - redis
  query_app:
    build:
      context: .
      dockerfile: ./query/docker/Dockerfile
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=docker
    depends_on:
      - mysql
  subscriber_app:
    build:
      context: .
      dockerfile: ./subscriber/docker/Dockerfile
    ports:
      - "6000:6000"
    environment:
      - NODE_ENV=docker
    depends_on:
      - redis
      - mysql

  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
    volumes:
      - "./data/redis:/data"
  mysql:
    image: mysql:8.1.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: review_query
      MYSQL_USER: docker
      MYSQL_PASSWORD: docker
      TZ: 'Asia/Tokyo'
    volumes:
      - ./mysql/initialize:/docker-entrypoint-initdb.d
      - ./mysql/config/my.cnf:/etc/mysql/conf.d/my.cnf
